---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex flex-col items-center justify-between text-xs">
      <div>
        &copy; {new Date().getFullYear()} • blog.vinyman.fyi • {SITE.TITLE}
      </div>
    </div>
  </Container>
</footer>
