---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  rel={external ? "noopener noreferrer" : undefined}
  class={cn(
    "inline-block transition-colors duration-300 ease-in-out",
    external
      ? "text-[#15e3dd] dark:text-[#15e3dd] hover:text-[#8b6fcb] dark:hover:text-[#8b6fcb] decoration-[#15e3dd]/30 hover:decoration-[#15e3dd]/50 focus-visible:decoration-[#15e3dd]/50"
      : "text-white dark:text-white hover:text-white focus-visible:text-white decoration-white/30 hover:decoration-white/50 focus-visible:decoration-white/50",
    underline && "underline underline-offset-[3px]",
    group && "group",
  )}
  {...rest}
>
  <slot />
</a>
